.home-section{
    padding-top: 9px;
}
.container-small{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}
.block{
    margin: 70px 0;
}
.block-img{
    border: 1px solid #C89446;
    max-width: 350px;
    margin: 0 auto;
}
.block-img  img{
    display: block;
}
.block-img img{
    position: relative;
    z-index: 1;
}
.block-body{
    text-align: center;
}
.title{
    font-size: 1.75rem;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
}
.title span{
    font-family : 'Pinyon Script', cursif;
    font-size: 2.5rem; /*2.2*/
    color: #C89446;
    display: block;
    font-weight: 400;
    text-transform: none;
}
.title::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #C89446;
    margin-bottom: 0.5rem;
}

/*card-programme*/

.card-programme{
    margin: auto;
    margin-top: 60px;
    text-align: center;
    max-width: 275px;
    height: 250px;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding: 40px;
    z-index: 100;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.6);
}
.card-programme span, .card-programme strong{
    display: block;
}
.card-programme strong{
    color: #C89446;
    margin: 20px 0;
}
.card-programme::before{
    content: '';
    border: 2px solid #C89446;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1000;
    top: 0;
    left: 0;
}

.more{
    color: #C89446;
    text-align: right;
    display: block;

}
.more:hover{
    text-decoration: underline;
}
.more::after{
    content: ' >';
}


@media only screen and (min-width: 740px){
    .home-section{
        background: 
            top 95px right 0px url(../img/oranges.jpg) no-repeat,
            top 640px left 0px url(../img/spices.jpg) no-repeat,
            top 1200px right 0px url(../img/spices1.jpg) no-repeat;
    }
    .block{
        margin-bottom: 100px;
    }
    .block-right{
        display: flex;
        align-items: center;
    }
    .block-left1{
        display: flex;
        align-items: center;
    }
    
    .block-img{
        border: none;
        position: relative;
    }
    .block-img::before{
        content: '';
        border: 1px solid #C89446;
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .block-right .block-img::before{
        left: auto;
        right: -30px;
    }
    .block-left1 .block-img::before{
        right: auto;
        left: -30px;
    }

    .block-right .block-img{
        width: 350px;
        flex: none;
        margin-right: 30px;
        order: 2;
    }
    .block-left1 .block-img{
        width: 350px;
        flex: none;        /* Ajout de flex: none */
        margin-left: 30px; /* Ajout de margin-left au lieu de margin-right */
        order: 1;         /* Changement de l'order à 1 */
    }
    .block-right .block-body{
        margin-right: 94px;
        order: 1;
    }
    .block-left1 .block-body{
        margin-left: 94px;
        order: 1;
    }

    .title::before{
        margin-bottom: 20px;
    }
    .title{
        margin-bottom: 1.1rem;
    }
    .more{
        display: block;
        margin-top: 1.3rem;
    }
}

/*.block-centered{
    text-align: center;
}
.block-last{
    margin-bottom: 60px;
}
.ingredients-menu{
    font-weight: 600;
    color: #383838;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.ingredients-menu a{
    display: inline-block;
    position: relative;
    margin: 0 5px;
}
.ingredients-menu a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 1px;
    opacity: 0;
    background: #C89446;
    transition: .3s  ease all;
}
.ingredients-menu .active::after, .ingredients-menu a:hover::after{
    bottom: 0;
    opacity: 1;
}

@media only screen and (min-width: 500px){
    .ingredients-menu a{
        margin: 0 20px;
    }
}